.notes {
}

.notes li {
    list-style: none;
    margin: 0.25em 0;
}

.notes ul {
  height: 400px;
  overflow-y: auto;
}

.premade_note_options button,
.hashtags_options button {
  display: block;
  margin: 1em 0;
}
