{% extends "layout.html" %}
{% block body %}
      <div class="row-fluid">
        <div class="span8">
          <h1>Notes</h1>
          <div class="newnote">
            <form method="post" target="/" class="form-inline note-form">
              <input type="text" name="note[title]" id="note_title"/>
              <input type="submit" value="Create" class="btn btn-primary"/>
            </form>
          </div>
          <div class="notes">
            <ul>
            </ul>
          </div>
          </div>
        <div class="span4">
          <div class="premade_notes">
            <h2>Premade notes</h2>
            <div class="premade_note_options">
              {% for p in premade %}
                <button class="btn premade_link">{{ p }}</button>
              {% endfor %}
            </div>
          </div>

          <div class="hashtags">
            <h2>Hashtags</h2>
            <div class="hashtags_options">
            </div>
          </div>
        </div>
      </div>
{% endblock %}
